In [24]:
# 機械学習モデルを作る前にデータセットを前処理しましょう。
# この前処理は以下の2つです。

# 欠損値がある行を削除する
# ビールのスタイルを数値にコード化して、データフレームに挿入する

import pandas as pd

df = pd.read_csv('./dataset/beers.csv',
                 dtype={'style': 'category'}, index_col=0)

# dtype={'Style': 'category'},
# カテゴリー型は、値となる文字列を分類して、
# 同じ文字列に同じ整数の代表値を与えて分析しやすくするためのものです。

In [25]:
# データセットの先頭5行を確認
df.head(5)

,abv,ibu,id,name,style,brewery_id,ounces
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [26]:
# 基本統計量を確認
df.describe()

               abv          ibu           id   brewery_id       ounces
count  2348.000000  1405.000000  2410.000000  2410.000000  2410.000000
mean      0.059773    42.713167  1431.113278   231.749793    13.592241
std       0.013542    25.954066   752.459975   157.685604     2.352204
min       0.001000     4.000000     1.000000     0.000000     8.400000
25%       0.050000    21.000000   808.250000    93.000000    12.000000
50%       0.056000    35.000000  1453.500000   205.000000    12.000000
75%       0.067000    64.000000  2075.750000   366.000000    16.000000
max       0.128000   138.000000  2692.000000   557.000000    32.000000

In [27]:
# dropna　　で欠損値のある行を除去
df=df.dropna()

# reset_index　　でインデックス(左端の番号）を振り直す
# drop="True"をつけると古いインデックスを削除できます。
df=df.reset_index(drop="True")

In [28]:
# 欠損値を除去したデータフレームの先頭5行を確認
df.head()

,abv,ibu,id,name,style,brewery_id,ounces
0,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),177,12.0
1,0.099,92.0,1036,Lower De Boom,American Barleywine,368,8.4
2,0.079,45.0,1024,Fireside Chat,Winter Warmer,368,12.0
3,0.044,42.0,876,Bitter American,American Pale Ale (APA),368,12.0
4,0.049,17.0,802,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,368,12.0

In [29]:
# styleカラムの値を数値にコード化したStyle_idをStyleカラムの後ろに挿入
# 第1引数は、挿入列の場所
# 第2引数は、挿入列の名前
# 第３引数は、category型を、code（代表値）に、アルファベット順に変換している


df.insert(loc=5,column="Style_id",value=df["style"].cat.codes)

In [30]:
# style_idを挿入したデータフレームを確認
df.head()

,abv,ibu,id,name,style,Style_id,brewery_id,ounces
0,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),16,177,12.0
1,0.099,92.0,1036,Lower De Boom,American Barleywine,5,368,8.4
2,0.079,45.0,1024,Fireside Chat,Winter Warmer,97,368,12.0
3,0.044,42.0,876,Bitter American,American Pale Ale (APA),16,368,12.0
4,0.049,17.0,802,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,59,368,12.0

In [31]:
# style_idを挿入したデータフレームの基本統計量
df.describe()

,abv,ibu,id,Style_id,brewery_id,ounces
count,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000,1403.000000
mean,0.059919,42.739843,1413.888810,30.175339,223.375624,13.510264
std,0.013585,25.962692,757.572191,28.331400,150.387510,2.254112
min,0.027000,4.000000,1.000000,0.000000,0.000000,8.400000
25%,0.050000,21.000000,771.000000,13.000000,95.500000,12.000000
50%,0.057000,35.000000,1435.000000,16.000000,198.000000,12.000000
75%,0.068000,64.000000,2068.500000,50.500000,350.000000,16.000000
max,0.125000,138.000000,2692.000000,98.000000,546.000000,32.000000

In [32]:
# データフレームのpickle化

# 平たく言うと、Pythonオブジェクトをファイルとして保存し、
# 呼び出せるようにすることができる形にするためのライブラリという事になります。

# Pythonオブジェクトを変換、保存することにより
# 別の場所、別のタイミングでそのオブジェクトを復元させることがpickleの使い道

df.to_pickle('df.pkl')